.character_selection {
  margin: 2rem;
}
.form_container {
  display: flex;
  flex-direction: column;
  width: max-content;
  & h5 {
    margin: 1rem 0;
  }
}
.form_field_value {
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.form_button {
  padding: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}